.btn {
	display: inline-block;
	font-size: 0.85rem;
	color: var(--clr-neutral-100);
	padding: 0.65em 2.5em;
	border-radius: 0.35em;
	border: 0;
	outline: 0;
	font-weight: var(--fw-bold);
	cursor: pointer;
	text-transform: capitalize;

	&.btn-primary {
		background-color: var(--clr-accent-200);
	}

	&.btn-secondary {
		background-color: #656ea3;
	}

	&.btn-add {
		padding-left: 3.25em;
		@include pseudo(before, url(../assets/shared/icon-plus.svg)) {
			left: 2.25em;
		}
	}

	&.btn-transparent {
		background: none;
		padding: 0 0 0 1.5em;
	}

	&.btn-text {
		background: none;
		color: var(--clr-primary-400);
		padding: 0;
	}

	&.btn-back {
		@include pseudo(before, url(../assets/shared/icon-arrow-left.svg)) {
			left: 0;
		}
	}
}
