.post {
	padding: 1.5em;
	background-color: var(--clr-neutral-100);
	border-radius: 0.5em;
	display: flex;
	gap: 2em;
	align-items: flex-start;

	& + & {
		margin-top: 2em;
	}

	&__upvote {
		padding: 0.8em;
		background-color: var(--clr-neutral-300);
		border-radius: 0.5em;
		font-weight: var(--fw-bold);
		color: var(--clr-primary-300);
		font-size: 0.85rem;
		transition: background-color 170ms ease-in-out;
		cursor: pointer;

		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 0.5em;

		&:hover {
			background-color: var(--clr-neutral-400);
		}
	}

	&__title {
		color: var(--clr-primary-300);
		text-transform: capitalize;
		font-size: 1.15rem;
	}

	&__text {
		color: var(--clr-primary-200);
		font-size: 1rem;
		margin: 0.65em 0 0.85em 0;
	}

	&__replies {
		align-self: center;
		margin-left: auto;

		font-weight: var(--fw-bold);

		display: flex;
		align-items: center;
		gap: 0.65em;
	}
}

.none {
	text-align: center;
	background-color: var(--clr-neutral-100);
	border-radius: 0.5em;
	padding: 2em;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	&__title {
		color: var(--clr-primary-300);
		text-transform: capitalize;
		font-size: 1.15rem;
	}

	&__text {
		color: var(--clr-primary-200);
		font-size: 1rem;
		margin: 0.65em 0 0.85em 0;
	}
}
